.card-body {
    max-width: 400px;
    min-width: 288px;
    min-height: 250px;
    border: #DFDFDF solid 1px;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px 15px 20px 15px;
}

.card-footer {
    max-width: 400px;
    min-width: 288px;
    min-height: 70px;
    background-color: #F7F7F7;
    border: #DFDFDF solid 1px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-body hr {
    border: #DFDFDF solid 0.5px;
    margin: 15px 0;
}